.workedForm {
    background-color: white;
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
#checkbaboxPlace {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
#checkbaboxPlace > input {
    margin: 5px;
    zoom: 1.5;
}
.openStorageDataList {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-left: 20px;
    align-items: flex-start;
    width: 30%;
}

.openStorageData {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
}