@media screen and (max-aspect-ratio: 85/90) {
    .workedForm {

    }
    .formInput {
        font-size: xx-large;
        color: cadetblue;
    }
    .formLable {
        font-size: xx-large;
    }
    .formButton {
        font-size: xx-large;
        max-width: 300px;
    }
    .colorP {
        font-size: xx-large;
        width: 100px;
        margin: 5px;
    }
    .primeColor {
        width: 100%;
        justify-content: space-evenly;
    }
    .resources {
        width: 100%;
    }    
    p {
        font-size: xx-large;
    }
    .formImg {
        max-height: 185px;
    }
    .textColor {
        font-size: x-large;
        width: 110px;
        margin: 5px;
    }
    .leftImpForm {
        flex-direction: column;
    }
    #imgSend {
        width: 100%;
    }
    .uploadLable {
        width: 100%;
    }
    #uploads > form {
        margin: 10px 0;
        border: 1px solid burlywood;
        border-radius: 10px;
    }
    .formImgPos {
        width: 25%;
        display: flex;
        align-items: center;
    }
    .openStorageData > input {
        max-width: 400px;
        height: 80px;
    }
    .openStorageDataList {
        width: 100%;
    }    
    .openStorageDataList > input {
        max-width: 380px;
        padding: 25px 0;
        margin: 10px 0;
    }
}